body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loadCircle{
  position: absolute;
  top: 50%;
  left: 48%
}

.loadCircleWithSideBar{
  position: absolute;
  top: 50%;
  left: 38%
}

/**************************START HOME ****************************/
.accountlesshome-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin-top: 5rem;
  padding-top: 8rem;
}

.card-rotate-left {
  text-align: center;
  width: 200px;
  transform: rotate(-20deg);
  margin-top: 3rem;
  padding: 6rem 3rem;
}

.card-rotate-right {
  text-align: center;
  width: 200px;
  transform: rotate(20deg) !important;
  margin-top: 3rem;
  padding: 6rem 3rem;
}
/**************************END HOME ****************************/

/************************ START SHOP **********************/
.drawerListItem {
  cursor: pointer;
  height: 60px;
  transition: background-color 0.5s ease;
}

.drawerListItem:hover {
  background-color: rgb(230, 230, 230);
}

.tableRow {
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.tableRow:hover {
  background-color: rgb(230, 230, 230);
}

.toolCard {
  min-width: 205px;
  max-width: 300px;
  padding: 1rem 0;
  background-color: rgb(241, 241, 241) !important;
  border: 1px solid #e0e0e0;
  border-radius: 10px !important;
}

.toolCard > img:hover {
  transform: scale(1.05);
}

.toolImg {
  width: 80px;
  height: 80px;
  transition: transform 0.3s ease;
}

.toolImg:hover {
  transform: scale(1.1);
}

.table {
  border: 1px solid #e0e0e0;
  border-radius: 10px !important;
}

/************************** END SHOP ****************************/

/*************************** PROFILE *****************************/

.MuiPaper-root {
  border-radius: 10px !important;
}

/***********************END PROFILE *********************************/

/**************************** UTILS ********************************/

.maticLogo {
  width: 20px;
  height: 20px;
  margin-left: 0.5rem;
}

.typeIcon {
  width: 20px;
  height: 20px;
  margin-left: 0.5rem;
}

.button {
  background-color: black !important;
}

.center {
  display: flex;
  justify-content: center;
}

/****************************END UTILS ***********************************/

/*************************** OWNER *****************************/
.OwnerGrid {
  padding: 1rem 0;
  max-width: 1500px;
  background-color: rgb(241, 241, 241) !important;
  border: 1px solid #e0e0e0;
  border-radius: 10px !important;
}

.withdrawGrid {
  padding: 1rem 0;
  max-width: 800px;
  height: 150px;
  background-color: rgb(241, 241, 241) !important;
  border: 1px solid #e0e0e0;
  border-radius: 10px !important;
}
/************************* END OWNER ***************************/

/********************************FOOTER **************************/

.footer-container {
  height: 50vh;
  background-color: black;
  color: white;
  padding: 4rem 10rem;
}
.socials {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1rem;
}

.socials > * {
  width: 35px;
  height: 35px;
}

.footer-grid {
  text-align: center;
  margin-bottom: 3rem !important;
}

.footer-grid h5 {
  margin-bottom: 1rem;
}
.footer-grid h6 {
  margin-bottom: 1rem;
}
/*******************************END FOOTER *************************/

.container {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2118%26quot%3b)' fill='none'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2120%26quot%3b)'%3e%3cpath d='M367.5 325.5L388.5 304.5L409.5 304.5L430.5 304.5L451.5 304.5L472.5 304.5L493.5 304.5L514.5 304.5M241.5 325.5L262.5 304.5L283.5 304.5L304.5 304.5L325.5 304.5M451.5 325.5L472.5 325.5L493.5 325.5L514.5 325.5M535.5 346.5L556.5 325.5L577.5 325.5M157.5 325.5L178.5 304.5L199.5 304.5L220.5 283.5L241.5 283.5M73.5 304.5L94.5 283.5L115.5 283.5M220.5 325.5L241.5 304.5M-10.5 283.5L10.5 283.5L31.5 283.5L52.5 283.5L73.5 304.5L94.5 304.5L115.5 304.5L136.5 325.5L157.5 325.5L178.5 325.5L199.5 325.5L220.5 325.5L241.5 325.5L262.5 325.5L283.5 325.5L304.5 325.5L325.5 325.5L346.5 325.5L367.5 325.5L388.5 325.5L409.5 325.5L430.5 325.5L451.5 325.5L472.5 346.5L493.5 346.5L514.5 346.5L535.5 346.5L556.5 346.5' stroke='url(%23SvgjsLinearGradient2119)' stroke-width='3.5'%3e%3c/path%3e%3cpath d='M551.25 346.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM509.25 304.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM320.25 304.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM509.25 325.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM572.25 325.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM236.25 283.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM110.25 283.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM236.25 304.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0z' fill='url(%23SvgjsLinearGradient2119)'%3e%3c/path%3e%3cpath d='M409.5 262.5L430.5 262.5L451.5 262.5L472.5 262.5L493.5 262.5M535.5 283.5L556.5 304.5L577.5 304.5L598.5 304.5L619.5 304.5L640.5 304.5L661.5 304.5L682.5 304.5M304.5 262.5L325.5 241.5M514.5 283.5L535.5 262.5L556.5 262.5M157.5 241.5L178.5 262.5L199.5 262.5M325.5 262.5L346.5 283.5L367.5 283.5L388.5 283.5L409.5 283.5M346.5 262.5L367.5 241.5M-10.5 262.5L10.5 262.5L31.5 262.5L52.5 262.5L73.5 262.5L94.5 241.5L115.5 241.5L136.5 241.5L157.5 241.5L178.5 241.5L199.5 241.5L220.5 241.5L241.5 262.5L262.5 262.5L283.5 262.5L304.5 262.5L325.5 262.5L346.5 262.5L367.5 262.5L388.5 262.5L409.5 262.5L430.5 283.5L451.5 283.5L472.5 283.5L493.5 283.5L514.5 283.5L535.5 283.5L556.5 283.5' stroke='url(%23SvgjsLinearGradient2119)' stroke-width='3.5'%3e%3c/path%3e%3cpath d='M551.25 283.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM488.25 262.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM677.25 304.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM320.25 241.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM551.25 262.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM194.25 262.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM404.25 283.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM362.25 241.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0z' fill='url(%23SvgjsLinearGradient2119)'%3e%3c/path%3e%3cpath d='M556.5 367.5L577.5 388.5L598.5 388.5L619.5 388.5L640.5 409.5M535.5 367.5L556.5 388.5M388.5 346.5L409.5 367.5L430.5 367.5L451.5 367.5L472.5 388.5L493.5 388.5L514.5 388.5L535.5 388.5M-10.5 304.5L10.5 304.5L31.5 304.5L52.5 304.5L73.5 325.5L94.5 325.5L115.5 325.5L136.5 346.5L157.5 346.5L178.5 346.5L199.5 346.5L220.5 346.5L241.5 346.5L262.5 346.5L283.5 346.5L304.5 346.5L325.5 346.5L346.5 346.5L367.5 346.5L388.5 346.5L409.5 346.5L430.5 346.5L451.5 346.5L472.5 367.5L493.5 367.5L514.5 367.5L535.5 367.5L556.5 367.5L577.5 367.5' stroke='url(%23SvgjsLinearGradient2119)' stroke-width='3.5'%3e%3c/path%3e%3cpath d='M572.25 367.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM635.25 409.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM551.25 388.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM530.25 388.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0z' fill='url(%23SvgjsLinearGradient2119)'%3e%3c/path%3e%3cpath d='M-10.5 241.5L10.5 241.5' stroke='url(%23SvgjsLinearGradient2119)' stroke-width='3.5'%3e%3c/path%3e%3cpath d='M5.25 241.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0z' fill='url(%23SvgjsLinearGradient2119)'%3e%3c/path%3e%3cpath d='M262.5 367.5L283.5 388.5L304.5 388.5L325.5 388.5L346.5 388.5L367.5 409.5L388.5 409.5M598.5 409.5L619.5 430.5M556.5 409.5L577.5 430.5L598.5 430.5M535.5 409.5L556.5 430.5M514.5 409.5L535.5 430.5M703.5 430.5L724.5 409.5L745.5 409.5L766.5 409.5M388.5 388.5L409.5 388.5L430.5 388.5L451.5 388.5M682.5 430.5L703.5 409.5L724.5 388.5L745.5 388.5L766.5 388.5L787.5 388.5L808.5 388.5L829.5 388.5L850.5 388.5M346.5 367.5L367.5 367.5L388.5 367.5M-10.5 325.5L10.5 325.5L31.5 325.5L52.5 325.5L73.5 346.5L94.5 346.5L115.5 346.5L136.5 367.5L157.5 367.5L178.5 367.5L199.5 367.5L220.5 367.5L241.5 367.5L262.5 367.5L283.5 367.5L304.5 367.5L325.5 367.5L346.5 367.5L367.5 388.5L388.5 388.5L409.5 409.5L430.5 409.5L451.5 409.5L472.5 409.5L493.5 409.5L514.5 409.5L535.5 409.5L556.5 409.5L577.5 409.5L598.5 409.5L619.5 409.5L640.5 430.5L661.5 430.5L682.5 430.5L703.5 430.5L724.5 430.5' stroke='url(%23SvgjsLinearGradient2119)' stroke-width='3.5'%3e%3c/path%3e%3cpath d='M719.25 430.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM383.25 409.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM614.25 430.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM593.25 430.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM551.25 430.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM530.25 430.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM761.25 409.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM446.25 388.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM845.25 388.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM383.25 367.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0z' fill='url(%23SvgjsLinearGradient2119)'%3e%3c/path%3e%3cpath d='M10.5 199.5L31.5 220.5L52.5 220.5L73.5 241.5M73.5 199.5L94.5 220.5L115.5 220.5L136.5 220.5M346.5 199.5L367.5 220.5M241.5 220.5L262.5 241.5L283.5 241.5M430.5 199.5L451.5 220.5L472.5 220.5L493.5 220.5L514.5 220.5L535.5 220.5M-10.5 220.5L10.5 199.5L31.5 199.5L52.5 199.5L73.5 199.5L94.5 199.5L115.5 199.5L136.5 199.5L157.5 220.5L178.5 220.5L199.5 220.5L220.5 220.5L241.5 220.5L262.5 220.5L283.5 220.5L304.5 220.5L325.5 220.5L346.5 199.5L367.5 199.5L388.5 199.5L409.5 199.5L430.5 199.5L451.5 199.5' stroke='url(%23SvgjsLinearGradient2119)' stroke-width='3.5'%3e%3c/path%3e%3cpath d='M446.25 199.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM68.25 241.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM131.25 220.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM362.25 220.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM278.25 241.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM530.25 220.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0z' fill='url(%23SvgjsLinearGradient2119)'%3e%3c/path%3e%3cpath d='M409.5 430.5L430.5 451.5L451.5 451.5L472.5 451.5L493.5 472.5L514.5 472.5L535.5 493.5L556.5 493.5L577.5 472.5L598.5 472.5L619.5 472.5M724.5 451.5L745.5 472.5L766.5 472.5L787.5 472.5L808.5 472.5L829.5 493.5L850.5 514.5M661.5 451.5L682.5 472.5L703.5 493.5M325.5 430.5L346.5 409.5M766.5 451.5L787.5 430.5L808.5 430.5M472.5 430.5L493.5 430.5M241.5 409.5L262.5 388.5M304.5 430.5L325.5 409.5M535.5 451.5L556.5 472.5M220.5 388.5L241.5 388.5M-10.5 346.5L10.5 346.5L31.5 346.5L52.5 346.5L73.5 367.5L94.5 367.5L115.5 367.5L136.5 388.5L157.5 388.5L178.5 388.5L199.5 388.5L220.5 388.5L241.5 409.5L262.5 409.5L283.5 409.5L304.5 430.5L325.5 430.5L346.5 430.5L367.5 430.5L388.5 430.5L409.5 430.5L430.5 430.5L451.5 430.5L472.5 430.5L493.5 451.5L514.5 451.5L535.5 451.5L556.5 451.5L577.5 451.5L598.5 451.5L619.5 451.5L640.5 451.5L661.5 451.5L682.5 451.5L703.5 451.5L724.5 451.5L745.5 451.5L766.5 451.5L787.5 451.5L808.5 451.5L829.5 451.5' stroke='url(%23SvgjsLinearGradient2119)' stroke-width='3.5'%3e%3c/path%3e%3cpath d='M824.25 451.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM614.25 472.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM845.25 514.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM698.25 493.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM341.25 409.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM803.25 430.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM488.25 430.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM257.25 388.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM320.25 409.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM551.25 472.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM236.25 388.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0z' fill='url(%23SvgjsLinearGradient2119)'%3e%3c/path%3e%3cpath d='M262.5 178.5L283.5 157.5M283.5 178.5L304.5 199.5L325.5 199.5M178.5 178.5L199.5 199.5M745.5 136.5L766.5 115.5L787.5 115.5L808.5 115.5L829.5 115.5L850.5 115.5M598.5 178.5L619.5 199.5L640.5 199.5L661.5 199.5L682.5 199.5L703.5 199.5L724.5 199.5M304.5 178.5L325.5 157.5L346.5 157.5L367.5 157.5L388.5 157.5M430.5 178.5L451.5 157.5L472.5 157.5L493.5 157.5M472.5 178.5L493.5 199.5L514.5 199.5L535.5 199.5L556.5 199.5M619.5 178.5L640.5 178.5L661.5 178.5M577.5 178.5L598.5 199.5L619.5 220.5L640.5 220.5L661.5 220.5L682.5 241.5L703.5 241.5L724.5 241.5M-10.5 199.5L10.5 178.5L31.5 178.5L52.5 178.5L73.5 178.5L94.5 178.5L115.5 178.5L136.5 178.5L157.5 178.5L178.5 178.5L199.5 178.5L220.5 178.5L241.5 178.5L262.5 178.5L283.5 178.5L304.5 178.5L325.5 178.5L346.5 178.5L367.5 178.5L388.5 178.5L409.5 178.5L430.5 178.5L451.5 178.5L472.5 178.5L493.5 178.5L514.5 178.5L535.5 178.5L556.5 178.5L577.5 178.5L598.5 178.5L619.5 178.5L640.5 157.5L661.5 157.5L682.5 157.5L703.5 157.5L724.5 136.5L745.5 136.5L766.5 136.5L787.5 136.5L808.5 136.5' stroke='url(%23SvgjsLinearGradient2119)' stroke-width='3.5'%3e%3c/path%3e%3cpath d='M803.25 136.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM278.25 157.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM320.25 199.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM194.25 199.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM845.25 115.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM719.25 199.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM383.25 157.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM488.25 157.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM551.25 199.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM656.25 178.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM719.25 241.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0z' fill='url(%23SvgjsLinearGradient2119)'%3e%3c/path%3e%3cpath d='M325.5 451.5L346.5 472.5L367.5 472.5L388.5 493.5L409.5 493.5M262.5 430.5L283.5 451.5L304.5 472.5L325.5 472.5L346.5 493.5M367.5 451.5L388.5 451.5L409.5 451.5L430.5 472.5L451.5 472.5M-10.5 367.5L10.5 367.5L31.5 367.5L52.5 367.5L73.5 388.5L94.5 388.5L115.5 388.5L136.5 409.5L157.5 409.5L178.5 409.5L199.5 409.5L220.5 409.5L241.5 430.5L262.5 430.5L283.5 430.5L304.5 451.5L325.5 451.5L346.5 451.5L367.5 451.5L388.5 472.5' stroke='url(%23SvgjsLinearGradient2119)' stroke-width='3.5'%3e%3c/path%3e%3cpath d='M383.25 472.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM404.25 493.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM341.25 493.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM446.25 472.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0z' fill='url(%23SvgjsLinearGradient2119)'%3e%3c/path%3e%3cpath d='M157.5 157.5L178.5 136.5M136.5 157.5L157.5 136.5M-10.5 178.5L10.5 157.5L31.5 157.5L52.5 157.5L73.5 157.5L94.5 157.5L115.5 157.5L136.5 157.5L157.5 157.5L178.5 157.5' stroke='url(%23SvgjsLinearGradient2119)' stroke-width='3.5'%3e%3c/path%3e%3cpath d='M173.25 157.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM173.25 136.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM152.25 136.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0z' fill='url(%23SvgjsLinearGradient2119)'%3e%3c/path%3e%3cpath d='M157.5 430.5L178.5 451.5M10.5 388.5L31.5 409.5L52.5 409.5L73.5 430.5M136.5 430.5L157.5 451.5L178.5 472.5M-10.5 388.5L10.5 388.5L31.5 388.5L52.5 388.5L73.5 409.5L94.5 409.5L115.5 409.5L136.5 430.5L157.5 430.5L178.5 430.5L199.5 430.5L220.5 430.5L241.5 451.5' stroke='url(%23SvgjsLinearGradient2119)' stroke-width='3.5'%3e%3c/path%3e%3cpath d='M236.25 451.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM173.25 451.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM68.25 430.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM173.25 472.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0z' fill='url(%23SvgjsLinearGradient2119)'%3e%3c/path%3e%3cpath d='M199.5 115.5L220.5 94.5L241.5 94.5L262.5 94.5M325.5 115.5L346.5 115.5L367.5 115.5M115.5 136.5L136.5 136.5M157.5 115.5L178.5 94.5L199.5 94.5M10.5 136.5L31.5 115.5L52.5 115.5L73.5 115.5M-10.5 157.5L10.5 136.5L31.5 136.5L52.5 136.5L73.5 136.5L94.5 136.5L115.5 136.5L136.5 115.5L157.5 115.5L178.5 115.5L199.5 115.5L220.5 115.5L241.5 115.5L262.5 115.5L283.5 115.5L304.5 115.5L325.5 115.5L346.5 136.5L367.5 136.5L388.5 136.5L409.5 136.5' stroke='url(%23SvgjsLinearGradient2119)' stroke-width='3.5'%3e%3c/path%3e%3cpath d='M404.25 136.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM257.25 94.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM362.25 115.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM131.25 136.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM194.25 94.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0zM68.25 115.5 a5.25 5.25 0 1 0 10.5 0 a5.25 5.25 0 1 0 -10.5 0z' fill='url(%23SvgjsLinearGradient2119)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2118'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0' y1='280' x2='892.8' y2='280' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2119'%3e%3cstop stop-color='rgba(213%2c 213%2c 214%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(234%2c 231%2c 232%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cmask id='SvgjsMask2120'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3cpath d='M553.87 346.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM511.87 304.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM322.87 304.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM511.87 325.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM574.87 325.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM238.87 283.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM112.87 283.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM238.87 304.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M553.87 283.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM490.87 262.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM679.87 304.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM322.87 241.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM553.87 262.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM196.87 262.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM406.87 283.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM364.87 241.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M574.87 367.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM637.87 409.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM553.87 388.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM532.87 388.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M7.87 241.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M721.87 430.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM385.87 409.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM616.87 430.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM595.87 430.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM553.87 430.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM532.87 430.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM763.87 409.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM448.87 388.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM847.87 388.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM385.87 367.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M448.87 199.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM70.87 241.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM133.87 220.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM364.87 220.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM280.87 241.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM532.87 220.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M826.87 451.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM616.87 472.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM847.87 514.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM700.87 493.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM343.87 409.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM805.87 430.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM490.87 430.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM259.87 388.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM322.87 409.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM553.87 472.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM238.87 388.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M805.87 136.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM280.87 157.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM322.87 199.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM196.87 199.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM847.87 115.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM721.87 199.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM385.87 157.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM490.87 157.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM553.87 199.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM658.87 178.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM721.87 241.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M385.87 472.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM406.87 493.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM343.87 493.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM448.87 472.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M175.87 157.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM175.87 136.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM154.87 136.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M238.87 451.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM175.87 451.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM70.87 430.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM175.87 472.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M406.87 136.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM259.87 94.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM364.87 115.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM133.87 136.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM196.87 94.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0zM70.87 115.5 a2.63 2.63 0 1 0 5.26 0 a2.63 2.63 0 1 0 -5.26 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/***************** PLAY **********************/
.CatchGrid1 {
  padding: 1rem 0;
  max-width: 1000px;
  background-color: rgb(241, 241, 241) !important;
  border: 1px solid #e0e0e0;
  border-radius: 10px !important;
}
/*************** END PLAY ********************/